
# Godot-specific ignores
/.import/
/.godot/
/export.cfg
/export_presets.cfg

# Mono-specific ignores
/.mono/

# RainyBot-specific ignores
/export/
/cache/
/config/
/data/
/logs/
/plugins/
/private_plugins/
/adapters/mirai/logs/
/adapters/mirai/data/
/adapters/mirai/config/
/adapters/mirai/bots/
/RainyBot.exe
/启动RainyBot场景编辑器.cmd
.DS_Store
